<section id="account_section">
  <%= render 'shared/sidebar' %>
  <div id="profile" class="main_side">
    <div id="top_header">
      <h1>User Profile</h1>
      <%= render 'shared/header-side' %>
    </div>
    <div class="profile_banner">
      <div class="inner text-center">
        <div class="ico fill round">
          <img src="assets/images/02.jpg" alt="">
        </div>
        <div class="txt">
          <h5>Davis Vaccaro</h5>
          <p><a href="mailto:davisvaccaro@gmail.com">davisvaccaro@gmail.com</a></p>
          <p><a href="tel:+123 456 789">+123 456 789</a></p>
          <p>31901 Thornridge Cir. Shiloh, C.a 81063</p>
        </div>
      </div>
    </div>
    <ul class="nav tab_blk text-center">
      <li>
        <a href="#DreamAddress" data-bs-toggle="tab" class="active">Dream Address</a>
      </li>
      <li>
        <a href="#BuyingPreference" data-bs-toggle="tab">Buying Preference</a>
      </li>
      <li>
        <a href="#SellingLists" data-bs-toggle="tab">Selling Lists</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="DreamAddress">
        <h3>User’s Dream Addresses</h3>
        <ul class="view_map_blk fs_5">
          <li>
            <div class="ico fill"><img src="assets/images/loginbg.jpg" alt=""></div>
            <div class="txt">
              <p class="fw_600">2118 Thornridge Cir. Syracuse, Connecticut 35624</p>
            </div>
            <div class="btn_blk">
              <a href="?" class="site_btn text text-decoration-underline">View in map</a>
            </div>
          </li>
          <li>
            <div class="ico fill"><img src="assets/images/loginbg.jpg" alt=""></div>
            <div class="txt">
              <p class="fw_600">2118 Thornridge Cir. Syracuse, Connecticut 35624</p>
            </div>
            <div class="btn_blk">
              <a href="?" class="site_btn text text-decoration-underline">View in map</a>
            </div>
          </li>
          <li>
            <div class="ico fill"><img src="assets/images/loginbg.jpg" alt=""></div>
            <div class="txt">
              <p class="fw_600">2118 Thornridge Cir. Syracuse, Connecticut 35624</p>
            </div>
            <div class="btn_blk">
              <a href="?" class="site_btn text text-decoration-underline">View in map</a>
            </div>
          </li>
          <li>
            <div class="ico fill"><img src="assets/images/loginbg.jpg" alt=""></div>
            <div class="txt">
              <p class="fw_600">2118 Thornridge Cir. Syracuse, Connecticut 35624</p>
            </div>
            <div class="btn_blk">
              <a href="?" class="site_btn text text-decoration-underline">View in map</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="tab-pane fade" id="BuyingPreference">
        <h3>User’s Buying Preference</h3>
        <div class="dropdown">
          <button class="site_btn text dropdown-toggle chevron fs_5 fw_600" data-bs-toggle="dropdown">House</button>
          <ul class="dropdown-menu">
            <li><button type="button">House</button></li>
            <li><button type="button">Condo</button></li>
            <li><button type="button">Vacant Land</button></li>
          </ul>
        </div>
        <table class="list_table w-100">
          <tbody>
          <tr>
            <td>Budget</td>
            <td class="fw_600"><span>$25,000</span> to <span>$40,000</span></td>
          </tr>
          <tr>
            <td>Bedrooms</td>
            <td class="fw_600">4</td>
          </tr>
          <tr>
            <td>Bathrooms</td>
            <td class="fw_600">4 Bath + Powder Room</td>
          </tr>
          <tr>
            <td>Property Type</td>
            <td class="fw_600">Multi-Family</td>
          </tr>
          <tr>
            <td>Property Styles</td>
            <td class="fw_600">Doesn’t matter</td>
          </tr>
          <tr>
            <td>Min Lot Forntage</td>
            <td class="fw_600">30</td>
          </tr>
          <tr>
            <td>Lot Size (ft)</td>
            <td class="fw_600">23 ft to 50 ft</td>
          </tr>
          <tr>
            <td>Living Space</td>
            <td class="fw_600">12 ft to 15 ft</td>
          </tr>
          <tr>
            <td>Parking Spots Req.</td>
            <td class="fw_600">2</td>
          </tr>
          <tr>
            <td>Garage Spots Req.</td>
            <td class="fw_600">Doesn’t matter</td>
          </tr>
          <tr>
            <td>Max Age</td>
            <td class="fw_600">10</td>
          </tr>
          </tbody>
        </table>
        <div class="fig"><img src="assets/images/no_input_box.png" alt=""></div>
      </div>
      <div class="tab-pane fade" id="SellingLists">
        <h3>User’s Selling Lists</h3>
        <div class="dropdown mb-4">
          <button class="site_btn text dropdown-toggle chevron fs_5 fw_600" data-bs-toggle="dropdown">House</button>
          <ul class="dropdown-menu">
            <li><button type="button">House</button></li>
            <li><button type="button">Condo</button></li>
            <li><button type="button">Vacant Land</button></li>
          </ul>
        </div>
        <ul class="home_map_blk fs_5">
          <li>
            <div class="ico fill"><img src="assets/images/loginbg.jpg" alt=""></div>
            <div class="txt">
              <h5>White Modern House</h5>
              <p class="fs_6">New York, US</p>
            </div>
          </li>
          <li>
            <div class="ico fill"><img src="assets/images/loginbg.jpg" alt=""></div>
            <div class="txt">
              <h5>White Big House</h5>
              <p class="fs_6">New York, US</p>
            </div>
          </li>
          <li>
            <div class="ico fill"><img src="assets/images/loginbg.jpg" alt=""></div>
            <div class="txt">
              <h5>White Suburban House</h5>
              <p class="fs_6">New York, US</p>
            </div>
          </li>
          <li>
            <div class="ico fill"><img src="assets/images/loginbg.jpg" alt=""></div>
            <div class="txt">
              <h5>White Modern House 2.0</h5>
              <p class="fs_6">New York, US</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>