/* line 3, app/assets/stylesheets/_globle.scss */
#sign_in {
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 8, app/assets/stylesheets/_globle.scss */
#sign_in .flex_blk {
  min-height: 100vh;
  padding: 6rem 0;
}

/* line 11, app/assets/stylesheets/_globle.scss */
#sign_in .flex_blk .logo_blk {
  width: 11.9rem;
  min-width: 11.9rem;
  height: 10.5rem;
  margin-bottom: 3.4rem;
}

/* line 17, app/assets/stylesheets/_globle.scss */
#sign_in .flex_blk h2 {
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
  color: var(--light);
}

/* line 22, app/assets/stylesheets/_globle.scss */
#sign_in .flex_blk p {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: 0.1rem;
  color: var(--light);
}

/* line 29, app/assets/stylesheets/_globle.scss */
#sign_in .flex_blk form {
  margin-top: 5rem;
  max-width: 38.3rem;
  width: 100%;
}

/* line 33, app/assets/stylesheets/_globle.scss */
#sign_in .flex_blk form label {
  font-size: 2.2rem;
  line-height: 2rem;
  color: var(--light);
  margin-bottom: 1.2rem;
}

/* line 39, app/assets/stylesheets/_globle.scss */
#sign_in .flex_blk form input {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 1rem;
  color: var(--light);
}

/* line 44, app/assets/stylesheets/_globle.scss */
#sign_in .flex_blk form input::placeholder {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.8rem;
  line-height: 2.1rem;
}

/* line 49, app/assets/stylesheets/_globle.scss */
#sign_in .flex_blk form input:hover {
  border-color: #4cbbff;
}

/* line 54, app/assets/stylesheets/_globle.scss */
#sign_in .flex_blk form input[type="password"]::placeholder {
  margin-left: 3rem;
}

/* line 58, app/assets/stylesheets/_globle.scss */
#sign_in .flex_blk form .icon_blk {
  width: 1.6rem;
  min-width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 5%;
  right: 0;
  transform: translate(0, -50%);
}

/* line 69, app/assets/stylesheets/_globle.scss */
#sign_in .flex_blk form .icon_blk + input {
  padding-left: 4rem;
}

/* line 73, app/assets/stylesheets/_globle.scss */
#sign_in .flex_blk form a {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2rem;
  color: var(--light);
  margin-bottom: 1.2rem;
}

/* line 81, app/assets/stylesheets/_globle.scss */
#sign_in .flex_blk form .btn_blk {
  width: 100%;
  margin-top: 3.5rem;
}

/* line 84, app/assets/stylesheets/_globle.scss */
#sign_in .flex_blk form .btn_blk button {
  width: 100%;
  background: #4cbbff;
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  border-radius: 3.4rem;
}

/* line 97, app/assets/stylesheets/_globle.scss */
#forgot_pass {
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 102, app/assets/stylesheets/_globle.scss */
#forgot_pass .flex_blk {
  min-height: 100vh;
  padding: 6rem 0;
}

/* line 105, app/assets/stylesheets/_globle.scss */
#forgot_pass .flex_blk .logo_blk {
  width: 11.9rem;
  min-width: 11.9rem;
  height: 10.5rem;
  margin-bottom: 3.4rem;
}

/* line 111, app/assets/stylesheets/_globle.scss */
#forgot_pass .flex_blk h2 {
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
  color: var(--light);
}

/* line 116, app/assets/stylesheets/_globle.scss */
#forgot_pass .flex_blk p {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: 0.1rem;
  color: var(--light);
}

/* line 123, app/assets/stylesheets/_globle.scss */
#forgot_pass .flex_blk form {
  margin-top: 5rem;
  max-width: 38.3rem;
  width: 100%;
}

/* line 127, app/assets/stylesheets/_globle.scss */
#forgot_pass .flex_blk form label {
  font-size: 2.2rem;
  line-height: 2rem;
  color: var(--light);
  margin-bottom: 1.2rem;
}

/* line 133, app/assets/stylesheets/_globle.scss */
#forgot_pass .flex_blk form input {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 1rem;
  color: var(--light);
}

/* line 138, app/assets/stylesheets/_globle.scss */
#forgot_pass .flex_blk form input::placeholder {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.8rem;
  line-height: 2.1rem;
}

/* line 143, app/assets/stylesheets/_globle.scss */
#forgot_pass .flex_blk form input:hover {
  border-color: #4cbbff;
}

/* line 148, app/assets/stylesheets/_globle.scss */
#forgot_pass .flex_blk form a {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2rem;
  color: var(--light);
  margin-bottom: 1.2rem;
}

/* line 156, app/assets/stylesheets/_globle.scss */
#forgot_pass .flex_blk form .btn_blk {
  width: 100%;
  margin-top: 3.5rem;
}

/* line 159, app/assets/stylesheets/_globle.scss */
#forgot_pass .flex_blk form .btn_blk button {
  width: 100%;
  background: #4cbbff;
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  border-radius: 3.4rem;
}

/* line 171, app/assets/stylesheets/_globle.scss */
#reset_pass {
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 176, app/assets/stylesheets/_globle.scss */
#reset_pass .flex_blk {
  min-height: 100vh;
  padding: 6rem 0;
}

/* line 179, app/assets/stylesheets/_globle.scss */
#reset_pass .flex_blk .logo_blk {
  width: 11.9rem;
  min-width: 11.9rem;
  height: 10.5rem;
  margin-bottom: 3.4rem;
}

/* line 185, app/assets/stylesheets/_globle.scss */
#reset_pass .flex_blk h2 {
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
  color: var(--light);
}

/* line 190, app/assets/stylesheets/_globle.scss */
#reset_pass .flex_blk p {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: 0.1rem;
  color: var(--light);
}

/* line 197, app/assets/stylesheets/_globle.scss */
#reset_pass .flex_blk form {
  margin-top: 5rem;
  max-width: 38.3rem;
  width: 100%;
}

/* line 201, app/assets/stylesheets/_globle.scss */
#reset_pass .flex_blk form label {
  font-size: 2.2rem;
  line-height: 2rem;
  color: var(--light);
  margin-bottom: 1.2rem;
}

/* line 207, app/assets/stylesheets/_globle.scss */
#reset_pass .flex_blk form input {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 1rem;
  color: var(--light);
}

/* line 212, app/assets/stylesheets/_globle.scss */
#reset_pass .flex_blk form input::placeholder {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.8rem;
  line-height: 2.1rem;
}

/* line 217, app/assets/stylesheets/_globle.scss */
#reset_pass .flex_blk form input:hover {
  border-color: #4cbbff;
}

/* line 221, app/assets/stylesheets/_globle.scss */
#reset_pass .flex_blk form .icon_blk {
  width: 1.6rem;
  min-width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 5%;
  right: 0;
  transform: translate(0, -50%);
}

/* line 232, app/assets/stylesheets/_globle.scss */
#reset_pass .flex_blk form .icon_blk + input {
  padding-left: 4rem;
}

/* line 236, app/assets/stylesheets/_globle.scss */
#reset_pass .flex_blk form a {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2rem;
  color: var(--light);
  margin-bottom: 1.2rem;
}

/* line 244, app/assets/stylesheets/_globle.scss */
#reset_pass .flex_blk form .btn_blk {
  width: 100%;
  margin-top: 3.5rem;
}

/* line 247, app/assets/stylesheets/_globle.scss */
#reset_pass .flex_blk form .btn_blk button {
  width: 100%;
  background: #4cbbff;
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  border-radius: 3.4rem;
}

/* line 257, app/assets/stylesheets/_globle.scss */
#reset_pass .notify_blk {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(40, 42, 55, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 267, app/assets/stylesheets/_globle.scss */
#reset_pass .notify_blk .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 3.5rem;
  background-color: var(--light);
  border-radius: 1rem;
  max-width: 48.3rem;
  width: 100%;
  position: absolute;
  right: 10%;
  bottom: 10%;
}

/* line 279, app/assets/stylesheets/_globle.scss */
#reset_pass .notify_blk .text .img_blk {
  min-width: 9.8rem;
  width: 9.8rem;
  height: 8.3rem;
}

/* line 284, app/assets/stylesheets/_globle.scss */
#reset_pass .notify_blk .text p {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  letter-spacing: 0.1rem;
  color: var(--dark);
}

/* line 299, app/assets/stylesheets/_globle.scss */
.table_blk {
  overflow-x: auto;
}

/* line 301, app/assets/stylesheets/_globle.scss */
.table_blk table {
  min-width: 100%;
  width: max-content;
}

/* line 306, app/assets/stylesheets/_globle.scss */
.table_blk table thead tr th {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #09110e;
  opacity: 0.4;
  padding: 2.6rem 0;
  border-bottom: 0.1rem solid #efefef;
  border-top: 0.1rem solid #efefef;
}

/* line 320, app/assets/stylesheets/_globle.scss */
.table_blk table tbody tr td {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 2rem 0;
  border-bottom: 0.1rem solid #efefef;
  color: #626262;
}

/* line 328, app/assets/stylesheets/_globle.scss */
.table_blk table tbody tr td.user_name {
  color: var(--dark);
}

/* line 331, app/assets/stylesheets/_globle.scss */
.table_blk table tbody tr td .img_blk {
  width: 5.4rem;
  min-width: 5.4rem;
  height: 5.5rem;
}

/* line 336, app/assets/stylesheets/_globle.scss */
.table_blk table tbody tr td .rating_blk {
  width: 1rem;
  min-width: 1rem;
  height: 1rem;
}

/* line 341, app/assets/stylesheets/_globle.scss */
.table_blk table tbody tr td .more_btn_blk {
  width: 0.5rem;
  min-width: 0.5rem;
  height: 2rem;
  cursor: pointer;
}

/* line 352, app/assets/stylesheets/_globle.scss */
.remove {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  padding: 1.2rem 2rem;
  align-items: center;
  justify-content: center;
  height: 4.3rem;
  padding: 0;
}

/* line 363, app/assets/stylesheets/_globle.scss */
.remove.dropdown-menu.show {
  display: flex;
}

/* line 367, app/assets/stylesheets/_globle.scss */
.remove li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #626262;
}

/* line 374, app/assets/stylesheets/_globle.scss */
.remove li a:hover {
  background-color: initial;
  color: red;
}

/* line 384, app/assets/stylesheets/_globle.scss */
.paginate_sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* line 389, app/assets/stylesheets/_globle.scss */
.paginate_sec p {
  margin-bottom: 0;
  font-size: 1.6rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.7);
}

/* line 396, app/assets/stylesheets/_globle.scss */
.paginate_sec nav .pagination {
  align-items: center;
}

/* line 398, app/assets/stylesheets/_globle.scss */
.paginate_sec nav .pagination .page_no {
  min-width: 4.8rem;
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
  border-radius: 1rem;
  margin-right: 0.5rem;
  color: var(--dark);
}

/* line 411, app/assets/stylesheets/_globle.scss */
.paginate_sec nav .pagination .page_no:hover {
  background-color: #4cbbff;
  color: #ffff;
}

/* line 415, app/assets/stylesheets/_globle.scss */
.paginate_sec nav .pagination .page_no a {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
}

/* line 419, app/assets/stylesheets/_globle.scss */
.paginate_sec nav .pagination .page_no a:hover {
  color: var(--light) !important;
}

/* line 425, app/assets/stylesheets/_globle.scss */
.paginate_sec nav .pagination .page_item.disable {
  color: #000000;
  opacity: 0.4;
}

/* line 429, app/assets/stylesheets/_globle.scss */
.paginate_sec nav .pagination .page_item .page_link {
  display: flex;
  align-items: center;
}

/* line 433, app/assets/stylesheets/_globle.scss */
.paginate_sec nav .pagination .page_item .page_link .icon_blk {
  width: 1.2rem;
  min-width: 1.2rem;
  height: 1.2rem;
}

/* line 447, app/assets/stylesheets/_globle.scss */
#dash .table_head {
  margin-top: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 453, app/assets/stylesheets/_globle.scss */
#dash .table_head h3 {
  font-size: 3.5rem;
  line-height: 4.1rem;
  color: #2f2f2f;
  margin-bottom: 0;
}

/* line 459, app/assets/stylesheets/_globle.scss */
#dash .table_head .right_blk {
  display: flex;
  align-items: center;
}

/* line 462, app/assets/stylesheets/_globle.scss */
#dash .table_head .right_blk .csv_btn {
  background: #f1f3f6;
  border-radius: 1rem;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4.4rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

/* line 475, app/assets/stylesheets/_globle.scss */
#dash .table_head .right_blk .csv_btn .img_blk {
  width: 1.8rem;
  min-width: 1.8rem;
  height: 1.8rem;
  margin-right: 1rem;
}

/* line 481, app/assets/stylesheets/_globle.scss */
#dash .table_head .right_blk .csv_btn .img_blk img {
  width: 100%;
  height: 100%;
}

/* line 488, app/assets/stylesheets/_globle.scss */
#dash .table_head .right_blk .form_blk .calender_blk {
  min-width: 2rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
}

/* line 497, app/assets/stylesheets/_globle.scss */
#dash .table_head .right_blk .form_blk input {
  min-width: 15.6rem;
  width: 15.6rem;
  height: 4.8rem;
  background: var(--light);
  border: 0.1rem solid #ebebeb;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.03);
  border-radius: 1rem;
  padding-left: 4.5rem;
}

/* line 507, app/assets/stylesheets/_globle.scss */
#dash .table_head .right_blk .form_blk input::placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #09110e;
  opacity: 0.5;
}

/* line 523, app/assets/stylesheets/_globle.scss */
#user_info .top_blk {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

/* line 529, app/assets/stylesheets/_globle.scss */
#user_info .top_blk li {
  margin-right: 1rem;
}

/* line 531, app/assets/stylesheets/_globle.scss */
#user_info .top_blk li:last-child {
  margin-right: 0;
}

/* line 534, app/assets/stylesheets/_globle.scss */
#user_info .top_blk li .filter {
  background: #f1f3f6;
  border-radius: 1rem;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4.4rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

/* line 547, app/assets/stylesheets/_globle.scss */
#user_info .top_blk li .filter .img_blk {
  width: 1.8rem;
  min-width: 1.8rem;
  height: 1.8rem;
  margin-right: 1rem;
}

/* line 553, app/assets/stylesheets/_globle.scss */
#user_info .top_blk li .filter .img_blk img {
  width: 100%;
  height: 100%;
}

/* line 560, app/assets/stylesheets/_globle.scss */
#user_info .top_blk li .form_blk input {
  width: 34.4rem;
  min-width: 34.4rem;
  height: 4.4rem;
}

/* line 565, app/assets/stylesheets/_globle.scss */
#user_info .top_blk li .form_blk .icon_blk {
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 5%;
  right: 0;
  transform: translate(0, -50%);
}

/* line 576, app/assets/stylesheets/_globle.scss */
#user_info .top_blk li .form_blk .icon_blk + input {
  padding-left: 5rem;
}

/* line 588, app/assets/stylesheets/_globle.scss */
#dream_address .top_blk {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

/* line 594, app/assets/stylesheets/_globle.scss */
#dream_address .top_blk li {
  margin-right: 1rem;
}

/* line 596, app/assets/stylesheets/_globle.scss */
#dream_address .top_blk li:last-child {
  margin-right: 0;
}

/* line 599, app/assets/stylesheets/_globle.scss */
#dream_address .top_blk li .filter {
  background: #f1f3f6;
  border-radius: 1rem;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4.4rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

/* line 612, app/assets/stylesheets/_globle.scss */
#dream_address .top_blk li .filter .img_blk {
  width: 1.8rem;
  min-width: 1.8rem;
  height: 1.8rem;
  margin-right: 1rem;
}

/* line 618, app/assets/stylesheets/_globle.scss */
#dream_address .top_blk li .filter .img_blk img {
  width: 100%;
  height: 100%;
}

/* line 625, app/assets/stylesheets/_globle.scss */
#dream_address .top_blk li .form_blk input {
  width: 34.4rem;
  min-width: 34.4rem;
  height: 4.4rem;
}

/* line 630, app/assets/stylesheets/_globle.scss */
#dream_address .top_blk li .form_blk .icon_blk {
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 5%;
  right: 0;
  transform: translate(0, -50%);
}

/* line 641, app/assets/stylesheets/_globle.scss */
#dream_address .top_blk li .form_blk .icon_blk + input {
  padding-left: 5rem;
}

/* line 653, app/assets/stylesheets/_globle.scss */
#buy_house .top_blk {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

/* line 659, app/assets/stylesheets/_globle.scss */
#buy_house .top_blk li {
  margin-right: 1rem;
}

/* line 661, app/assets/stylesheets/_globle.scss */
#buy_house .top_blk li:last-child {
  margin-right: 0;
}

/* line 664, app/assets/stylesheets/_globle.scss */
#buy_house .top_blk li .filter {
  background: #f1f3f6;
  border-radius: 1rem;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4.4rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

/* line 677, app/assets/stylesheets/_globle.scss */
#buy_house .top_blk li .filter .img_blk {
  width: 1.8rem;
  min-width: 1.8rem;
  height: 1.8rem;
  margin-right: 1rem;
}

/* line 683, app/assets/stylesheets/_globle.scss */
#buy_house .top_blk li .filter .img_blk img {
  width: 100%;
  height: 100%;
}

/* line 690, app/assets/stylesheets/_globle.scss */
#buy_house .top_blk li .form_blk input {
  width: 34.4rem;
  min-width: 34.4rem;
  height: 4.4rem;
}

/* line 695, app/assets/stylesheets/_globle.scss */
#buy_house .top_blk li .form_blk .icon_blk {
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 5%;
  right: 0;
  transform: translate(0, -50%);
}

/* line 706, app/assets/stylesheets/_globle.scss */
#buy_house .top_blk li .form_blk .icon_blk + input {
  padding-left: 5rem;
}

/* line 718, app/assets/stylesheets/_globle.scss */
#support_closers .top_blk {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

/* line 724, app/assets/stylesheets/_globle.scss */
#support_closers .top_blk li {
  margin-right: 1rem;
}

/* line 726, app/assets/stylesheets/_globle.scss */
#support_closers .top_blk li:last-child {
  margin-right: 0;
}

/* line 729, app/assets/stylesheets/_globle.scss */
#support_closers .top_blk li .filter {
  background: #f1f3f6;
  border-radius: 1rem;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4.4rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

/* line 742, app/assets/stylesheets/_globle.scss */
#support_closers .top_blk li .filter .img_blk {
  width: 1.8rem;
  min-width: 1.8rem;
  height: 1.8rem;
  margin-right: 1rem;
}

/* line 748, app/assets/stylesheets/_globle.scss */
#support_closers .top_blk li .filter .img_blk img {
  width: 100%;
  height: 100%;
}

/* line 755, app/assets/stylesheets/_globle.scss */
#support_closers .top_blk li .form_blk input {
  width: 34.4rem;
  min-width: 34.4rem;
  height: 4.4rem;
}

/* line 760, app/assets/stylesheets/_globle.scss */
#support_closers .top_blk li .form_blk .icon_blk {
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 5%;
  right: 0;
  transform: translate(0, -50%);
}

/* line 771, app/assets/stylesheets/_globle.scss */
#support_closers .top_blk li .form_blk .icon_blk + input {
  padding-left: 5rem;
}

/* line 780, app/assets/stylesheets/_globle.scss */
#subAdmins .top_blk {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 784, app/assets/stylesheets/_globle.scss */
#subAdmins .top_blk .top_blk_filters {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

/* line 790, app/assets/stylesheets/_globle.scss */
#subAdmins .top_blk .top_blk_filters li {
  margin-right: 1rem;
}

/* line 792, app/assets/stylesheets/_globle.scss */
#subAdmins .top_blk .top_blk_filters li:last-child {
  margin-right: 0;
}

/* line 795, app/assets/stylesheets/_globle.scss */
#subAdmins .top_blk .top_blk_filters li .filter {
  background: #f1f3f6;
  border-radius: 1rem;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4.4rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

/* line 808, app/assets/stylesheets/_globle.scss */
#subAdmins .top_blk .top_blk_filters li .filter .img_blk {
  width: 1.8rem;
  min-width: 1.8rem;
  height: 1.8rem;
  margin-right: 1rem;
}

/* line 814, app/assets/stylesheets/_globle.scss */
#subAdmins .top_blk .top_blk_filters li .filter .img_blk img {
  width: 100%;
  height: 100%;
}

/* line 821, app/assets/stylesheets/_globle.scss */
#subAdmins .top_blk .top_blk_filters li .form_blk input {
  width: 34.4rem;
  min-width: 34.4rem;
  height: 4.4rem;
}

/* line 826, app/assets/stylesheets/_globle.scss */
#subAdmins .top_blk .top_blk_filters li .form_blk .icon_blk {
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 5%;
  right: 0;
  transform: translate(0, -50%);
}

/* line 837, app/assets/stylesheets/_globle.scss */
#subAdmins .top_blk .top_blk_filters li .form_blk .icon_blk + input {
  padding-left: 5rem;
}

/* line 845, app/assets/stylesheets/_globle.scss */
#subAdmins .top_blk .btn_blk button {
  font-weight: 500;
  background: #f1f3f6;
  border: transparent;
  border-radius: 1rem;
  width: 11.9rem;
  height: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 855, app/assets/stylesheets/_globle.scss */
#subAdmins .top_blk .btn_blk button .people_blk {
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

/* line 865, app/assets/stylesheets/_globle.scss */
#subAdmins .sub_admin_form .form_blk {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 870, app/assets/stylesheets/_globle.scss */
#subAdmins .sub_admin_form .form_blk label {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #4a4a4a;
}

/* line 875, app/assets/stylesheets/_globle.scss */
#subAdmins .sub_admin_form .form_blk input {
  background: rgba(231, 233, 235, 0.25);
  border: 0.1rem solid #e7e9eb;
  border-radius: 0.6rem;
  min-width: 24rem;
  width: 24rem;
  height: 4.3rem;
  padding: 0 1.5rem;
}

/* line 892, app/assets/stylesheets/_globle.scss */
#school_pin form label {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #4a4a4a;
  margin-bottom: 1.7rem;
}

/* line 899, app/assets/stylesheets/_globle.scss */
#school_pin form input:placeholder {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #767b7a;
}

/* line 906, app/assets/stylesheets/_globle.scss */
#school_pin form .btn_blk button {
  width: 16.4rem;
  height: 5rem;
  background: var(--prime_color);
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  border-radius: 2.5rem;
}

/* line 915, app/assets/stylesheets/_globle.scss */
#school_pin .map_blk {
  min-width: 70.8rem;
  width: 70.8rem;
  height: 79.7rem;
}

/* line 925, app/assets/stylesheets/_globle.scss */
#house_details #header {
  display: flex;
  align-items: center;
  margin-bottom: 3.5rem;
}

/* line 930, app/assets/stylesheets/_globle.scss */
#house_details #header .page_title {
  margin: 0;
  font-size: 5rem;
  line-height: 5.9rem;
  letter-spacing: -0.3rem;
  color: #2f2f2f;
}

/* line 937, app/assets/stylesheets/_globle.scss */
#house_details #header .left_arrow {
  width: 1.6rem;
  height: 3.6rem;
  min-width: 1.6rem;
  margin-right: 2.5rem;
}

/* line 955, app/assets/stylesheets/_globle.scss */
#house_details .house_imgs .side_image_row {
  display: flex;
  margin-bottom: 0.15rem;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

/* line 962, app/assets/stylesheets/_globle.scss */
#house_details .house_imgs .side_image_row .side_imgs {
  min-width: 10.7rem;
  width: 10.7rem;
  height: 10.7rem;
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
  filter: drop-shadow(0 0 4rem rgba(0, 0, 0, 0.05));
}

/* line 973, app/assets/stylesheets/_globle.scss */
#house_details .house_detail_container {
  margin-top: 3.5rem;
  background: #f9fbfc;
  padding: 3.5rem;
  margin-bottom: 1.5rem;
}

/* line 979, app/assets/stylesheets/_globle.scss */
#house_details .house_detail_container .house_name {
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: 0.1rem;
  color: #2f2f2f;
}

/* line 986, app/assets/stylesheets/_globle.scss */
#house_details .house_detail_container {
  margin-top: 3.5rem;
  background: #f9fbfc;
  padding: 3.5rem;
  margin-bottom: 1.5rem;
}

/* line 992, app/assets/stylesheets/_globle.scss */
#house_details .house_detail_container .house_name {
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: 0.1rem;
  color: #2f2f2f;
}

/* line 998, app/assets/stylesheets/_globle.scss */
#house_details .house_detail_container .sub_title {
  font-size: 2.2rem;
  line-height: 2.6rem;
  letter-spacing: 0.1rem;
  color: #2f2f2f;
  margin: 0;
}

/* line 1006, app/assets/stylesheets/_globle.scss */
#house_details .house_detail_container .tag {
  display: flex;
  align-items: center;
}

/* line 1009, app/assets/stylesheets/_globle.scss */
#house_details .house_detail_container .tag .tag_img_blk {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 7.8rem;
  width: 7.8rem;
  height: 7.8rem;
  background: #ffffff;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.05);
  border-radius: 2rem;
  margin-right: 2.5rem;
}

/* line 1020, app/assets/stylesheets/_globle.scss */
#house_details .house_detail_container .tag .tag_img_blk .tag_img {
  min-width: 3.5rem;
  width: 3.5rem;
  height: 3.5rem;
}

/* line 1028, app/assets/stylesheets/_globle.scss */
#house_details .house_detail_container .tag .tag_detail .tag_sub_title {
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: #000000;
  margin: 0;
}

/* line 1034, app/assets/stylesheets/_globle.scss */
#house_details .house_detail_container .tag .tag_detail .tag_title {
  font-size: 2.6rem;
  line-height: 3rem;
  color: #000000;
  margin: 0;
}

/* line 1043, app/assets/stylesheets/_globle.scss */
#house_details .house_detail_container .house_discptn {
  margin-top: 3rem;
  color: #767676;
  font-weight: 400;
  font-size: 2.2rem;
}

/* line 1050, app/assets/stylesheets/_globle.scss */
#house_details .house_detail_list {
  padding: 2rem;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

/* line 1055, app/assets/stylesheets/_globle.scss */
#house_details .house_detail_list .detail_item {
  display: flex;
  margin: 3rem 0;
}

/* line 1058, app/assets/stylesheets/_globle.scss */
#house_details .house_detail_list .detail_item .left_item {
  width: 50%;
  font-size: 2.2rem;
  line-height: 1.8rem;
  color: #000000;
  display: flex;
  align-items: center;
}

/* line 1065, app/assets/stylesheets/_globle.scss */
#house_details .house_detail_list .detail_item .left_item .icons {
  max-width: 3.3rem;
  min-height: 3.3rem;
  margin-right: 5.5rem;
}

/* line 1071, app/assets/stylesheets/_globle.scss */
#house_details .house_detail_list .detail_item .right_item {
  width: 50%;
  font-size: 2.2rem;
  line-height: 1.8rem;
  color: #000000;
  font-weight: 600;
}

/* line 1086, app/assets/stylesheets/_globle.scss */
#guide_lines .right-con-inner .seletor {
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 1.3rem 2rem;
  border: 0.1rem solid #e4e4e4;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
  min-width: 17.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light);
}

/* line 1099, app/assets/stylesheets/_globle.scss */
#guide_lines .right-con-inner .list {
  min-width: 17.7rem;
}

/* line 1102, app/assets/stylesheets/_globle.scss */
#guide_lines .right-con-inner .details {
  border: 0.1rem solid #e4e4e4;
  border-radius: 2rem;
  padding: 2.2rem 4.2rem 7.7rem 4.2rem;
  font-size: 1.6rem;
  color: #979797;
}

/* line 1110, app/assets/stylesheets/_globle.scss */
#guide_lines .right-con-inner .date-section {
  height: 100%;
  border-left: 0.1rem dashed rgba(0, 0, 0, 0.2);
  padding-left: 3rem;
}

/* line 1114, app/assets/stylesheets/_globle.scss */
#guide_lines .right-con-inner .date-section .save_btn {
  min-width: 16.4rem;
  width: 16.4rem;
  height: 5rem;
  margin-bottom: 2.7rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  border-radius: 2.5rem;
}

/* line 1122, app/assets/stylesheets/_globle.scss */
#guide_lines .right-con-inner .date-section p {
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #979797;
}

/* line 1126, app/assets/stylesheets/_globle.scss */
#guide_lines .right-con-inner .date-section p:nth-child(1) {
  opacity: 0.2;
  color: #000000;
}

/* line 1131, app/assets/stylesheets/_globle.scss */
#guide_lines .right-con-inner .date-section .hr {
  color: #efefef;
}

/* line 1135, app/assets/stylesheets/_globle.scss */
#guide_lines .right-con-inner .job_list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

/* line 1139, app/assets/stylesheets/_globle.scss */
#guide_lines .right-con-inner .job_list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

/* line 1144, app/assets/stylesheets/_globle.scss */
#guide_lines .right-con-inner .job_list li:last-child {
  margin-bottom: 0;
}

/* line 1147, app/assets/stylesheets/_globle.scss */
#guide_lines .right-con-inner .job_list li .jobs {
  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  height: 4.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  margin-right: 1rem;
  font-size: 1.6rem;
  line-height: 3rem;
}

/* line 1160, app/assets/stylesheets/_globle.scss */
#guide_lines .right-con-inner .job_list li .icon_blk {
  min-width: 0.4rem;
  width: 0.4rem;
  height: 2rem;
  cursor: pointer;
}

/* line 1166, app/assets/stylesheets/_globle.scss */
#guide_lines .right-con-inner .job_list li .icon_blk.dropdown-toggle::after {
  content: initial;
}

/* line 1171, app/assets/stylesheets/_globle.scss */
#guide_lines .right-con-inner .job_list li .remove {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  min-width: 10rem;
  width: 10rem;
  align-items: center;
  justify-content: center;
  height: 4.3rem;
  padding: 0;
}

/* line 1183, app/assets/stylesheets/_globle.scss */
#guide_lines .right-con-inner .job_list li .remove.dropdown-menu.show {
  display: flex;
}

/* line 1187, app/assets/stylesheets/_globle.scss */
#guide_lines .right-con-inner .job_list li .remove li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #626262;
}

/* line 1194, app/assets/stylesheets/_globle.scss */
#guide_lines .right-con-inner .job_list li .remove li a:hover {
  background-color: initial;
  color: red;
}

/* line 1205, app/assets/stylesheets/_globle.scss */
#guide_lines ._inner {
  padding: 3rem;
}

/* line 1209, app/assets/stylesheets/_globle.scss */
#guide_lines .text_blk {
  background: rgba(231, 233, 235, 0.25);
  border: 1px solid #e7e9eb;
  border-radius: 0.6rem;
  padding: 0.8rem 1.5rem;
  width: 100%;
  resize: none;
}

/* line 1218, app/assets/stylesheets/_globle.scss */
.modal_btn {
  margin-top: 2rem;
  display: flex;
  justify-content: end;
}

/* line 1222, app/assets/stylesheets/_globle.scss */
.modal_btn .cancel {
  color: #f11616;
  border: transparent;
  background-color: transparent;
}

/* line 1227, app/assets/stylesheets/_globle.scss */
.modal_btn .save {
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  border-radius: 3.8rem;
  min-width: 11.2rem;
  width: 11.2rem;
  height: 5rem;
}

/* line 1235, app/assets/stylesheets/_globle.scss */
.hr {
  color: #efefef;
  margin: 3rem 0;
}

/* line 1243, app/assets/stylesheets/_globle.scss */
#support ul.tabs {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  margin-bottom: 1.8rem;
}

/* line 1250, app/assets/stylesheets/_globle.scss */
#support ul.tabs li {
  margin-right: 1.5rem;
}

/* line 1253, app/assets/stylesheets/_globle.scss */
#support ul.tabs li:last-child {
  margin-right: 0;
}

/* line 1256, app/assets/stylesheets/_globle.scss */
#support ul.tabs li a {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #c7c7c7;
}

/* line 1262, app/assets/stylesheets/_globle.scss */
#support ul.tabs li a.active {
  color: #52585d;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--prime_color);
}

/* line 1270, app/assets/stylesheets/_globle.scss */
#support ul.chats {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  min-height: 100vh;
  height: 60rem;
  overflow: auto;
  padding-right: 1.6rem;
}

/* line 1281, app/assets/stylesheets/_globle.scss */
#support ul.chats li .chat_blk {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background: rgba(90, 90, 90, 0.1);
  border-radius: 1.2rem;
  margin-bottom: 1.8rem;
}

/* line 1289, app/assets/stylesheets/_globle.scss */
#support ul.chats li .chat_blk.active-bg {
  background-color: var(--prime_color);
}

/* line 1293, app/assets/stylesheets/_globle.scss */
#support ul.chats li .chat_blk .chat_blk_left {
  display: flex;
  align-items: center;
}

/* line 1296, app/assets/stylesheets/_globle.scss */
#support ul.chats li .chat_blk .chat_blk_left .profile_blk {
  min-width: 4rem;
  width: 4rem;
  height: 4rem;
  border-radius: 75%;
  overflow: hidden;
  object-fit: cover;
  margin-right: 1.2rem;
}

/* line 1305, app/assets/stylesheets/_globle.scss */
#support ul.chats li .chat_blk .chat_blk_left .profile_name {
  display: flex;
  flex-direction: column;
}

/* line 1309, app/assets/stylesheets/_globle.scss */
#support ul.chats li .chat_blk .chat_blk_left .profile_name p {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #52585d;
  margin-bottom: 0.3rem;
}

/* line 1315, app/assets/stylesheets/_globle.scss */
#support ul.chats li .chat_blk .chat_blk_left .profile_name p.active_color {
  color: var(--light);
}

/* line 1319, app/assets/stylesheets/_globle.scss */
#support ul.chats li .chat_blk .chat_blk_left .profile_name span {
  font-size: 1rem;
  line-height: 1.1rem;
  color: #96a9ba;
}

/* line 1323, app/assets/stylesheets/_globle.scss */
#support ul.chats li .chat_blk .chat_blk_left .profile_name span.active_color {
  color: var(--light);
}

/* line 1329, app/assets/stylesheets/_globle.scss */
#support ul.chats li .chat_blk .time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* line 1334, app/assets/stylesheets/_globle.scss */
#support ul.chats li .chat_blk .time p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1rem;
  text-align: right;
  color: #96a9ba;
  margin-bottom: 0.4rem;
}

/* line 1341, app/assets/stylesheets/_globle.scss */
#support ul.chats li .chat_blk .time p.active_color {
  color: var(--light);
}

/* line 1345, app/assets/stylesheets/_globle.scss */
#support ul.chats li .chat_blk .time .message_count {
  background: #11d4a6;
  border-radius: 1.2rem;
  width: 2.3rem;
  min-width: 2.3rem;
  height: 1.4rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #fdfdfe;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 1358, app/assets/stylesheets/_globle.scss */
#support ul.chats li .chat_blk .time .message_count.active_color {
  color: var(--light);
}

/* line 1362, app/assets/stylesheets/_globle.scss */
#support ul.chats li .chat_blk .time .online {
  background: #46d362;
  height: 0.4rem;
  width: 0.4rem;
  min-width: 0.4rem;
  border-radius: 75%;
  margin-top: 0.5rem;
  text-align: right;
}

/* line 1378, app/assets/stylesheets/_globle.scss */
#support .chat_sec .top_blk {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* line 1383, app/assets/stylesheets/_globle.scss */
#support .chat_sec .top_blk .tag {
  background: #313131;
  border-radius: 1.2rem;
  padding: 0.4rem 1.8rem;
  font-size: 1.1rem;
  line-height: 2.3rem;
  /* or 200% */
  color: var(--light);
}

/* line 1392, app/assets/stylesheets/_globle.scss */
#support .chat_sec .top_blk .select {
  background: var(--light);
  border: 0.1rem solid #e3e3e3;
  border-radius: 1.4rem;
  min-width: 20rem;
  width: auto;
  height: 3.7rem;
  color: rgba(9, 17, 14, 0.5);
  padding: 0 1.8rem;
}

/* line 1402, app/assets/stylesheets/_globle.scss */
#support .chat_sec .top_blk .select::after {
  content: "";
  display: block;
  margin-left: auto;
}

/* line 1407, app/assets/stylesheets/_globle.scss */
#support .chat_sec .top_blk .select ul.dropdown-menu {
  min-width: 20rem;
}

/* line 1412, app/assets/stylesheets/_globle.scss */
#support .chat_sec .chat_date {
  position: relative;
}

/* line 1414, app/assets/stylesheets/_globle.scss */
#support .chat_sec .chat_date span {
  display: block;
  padding: 0.4rem 1.8rem;
  background-color: var(--prime_color);
  border-radius: 1.2rem;
  font-size: 1.1rem;
  line-height: 2.3rem;
  color: var(--light);
  margin: auto;
}

/* line 1423, app/assets/stylesheets/_globle.scss */
#support .chat_sec .chat_date span:before {
  content: "";
  display: block;
  background: #c4c4c4;
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  bottom: 0;
  height: 0.1rem;
  z-index: -1;
}

/* line 1437, app/assets/stylesheets/_globle.scss */
#support .chat_sec .chat_msg {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  min-height: 100vh;
  height: 60rem;
  overflow: auto;
}

/* line 1444, app/assets/stylesheets/_globle.scss */
#support .chat_sec .chat_msg .support_msg {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 80%;
  margin-left: auto;
  margin-top: 3rem;
}

/* line 1451, app/assets/stylesheets/_globle.scss */
#support .chat_sec .chat_msg .support_msg .msg_time {
  font-size: 1rem;
  line-height: 2rem;
  color: #979797;
}

/* line 1457, app/assets/stylesheets/_globle.scss */
#support .chat_sec .chat_msg .support_msg .msg {
  background: #f4f4f4;
  border-radius: 30.2684px 30.2684px 30.2684px 30px;
  padding: 2.6rem 2.3rem;
}

/* line 1462, app/assets/stylesheets/_globle.scss */
#support .chat_sec .chat_msg .support_msg .profile_pic {
  background-color: #e4e4e4;
  width: 4.2rem;
  min-width: 4.2rem;
  height: 4.2rem;
  border-radius: 75%;
  overflow: hidden;
  object-fit: contain;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
}

/* line 1476, app/assets/stylesheets/_globle.scss */
#support .chat_sec .chat_msg .support_msg .profile_pic .img_blk {
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
}

/* line 1483, app/assets/stylesheets/_globle.scss */
#support .chat_sec .chat_msg .user_msg {
  display: flex;
  align-items: flex-end;
  justify-content: start;
  margin-top: 2rem;
  width: 80%;
  margin-right: auto;
}

/* line 1490, app/assets/stylesheets/_globle.scss */
#support .chat_sec .chat_msg .user_msg .msg_time {
  font-size: 1rem;
  line-height: 2rem;
  color: #979797;
}

/* line 1496, app/assets/stylesheets/_globle.scss */
#support .chat_sec .chat_msg .user_msg .msg {
  background: var(--prime_color);
  border-radius: 30.2684px 30.2684px 30.2684px 30px;
  padding: 2.6rem 2.3rem;
  color: var(--light);
}

/* line 1503, app/assets/stylesheets/_globle.scss */
#support .chat_sec .chat_msg .user_msg .profile_pic .img_blk {
  border-radius: 75%;
  overflow: hidden;
  object-fit: cover;
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  margin-top: -5rem;
}

/* line 1517, app/assets/stylesheets/_globle.scss */
#support .msg_blk {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* line 1523, app/assets/stylesheets/_globle.scss */
#support .msg_blk .msg_type {
  display: flex;
  align-items: center;
  width: 100%;
}

/* line 1528, app/assets/stylesheets/_globle.scss */
#support .msg_blk .msg_type .icon_blk {
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

/* line 1534, app/assets/stylesheets/_globle.scss */
#support .msg_blk .msg_type input {
  width: 100%;
  border: transparent;
  background-color: transparent;
}

/* line 1539, app/assets/stylesheets/_globle.scss */
#support .msg_blk .msg_type input:focus {
  border: 1px solid var(--prime_color);
}

/* line 1544, app/assets/stylesheets/_globle.scss */
#support .msg_blk button {
  min-width: 4rem;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: transparent;
}
