<div class="header_side">
    <div class="form_blk">
        <img src="assets/images/icon-search.svg" alt="">
        <input type="text" name="" id="" class="input" placeholder="Search">
    </div>
    <button type="button" class="noti_btn input">
        <img src="assets/images/icon-bell.svg" alt="">
        <span>7</span>
    </button>
</div>