<div class="paginate_sec">
    <p><%= page_entries_info @support_closer %>
    </p>
  <%= will_paginate @support_closer, :container => false %>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page_item disable me-4">
                <a class="page_link" href="#" aria-label="Previous">
                    <div class="icon_blk me-2">
                      <%= image_tag 'paginateLeftArrow.svg', alt: 'icon' %>
                    </div>
                    Previous
                </a>
            </li>
            <li class="page_no "><a class="" href="#">1</a></li>
            <li class="page_no"><a class="" href="#">2</a></li>
            <li class="page_no"><a class="" href="#">3</a></li>
            <li class="page_item ms-4">
                <a class="page_link fw_600" href="#" aria-label="Previous">
                    Next
                    <div class="icon_blk ms-2">
                      <%= image_tag 'paginateRightArrow.svg', alt: 'icon' %>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</div>