<div class="paginate_sec">
    <p><%= page_entries_info @support_closer %>
    </p>
    <div class="pagination">
        <%= will_paginate @support_closer, :container => false %>    
    </div>
</div>