<aside id="sidebar">
    <div class="inside">
        <div class="logo_blk">
            <div class="logo">
                <a href="index.php">
                    <img src="assets/images/logo_long.svg" alt="">
                </a>
            </div>
        </div>
        <ul>
            <li><a href="dashboard.php" class="active">Dashboard</a></li>
            <li><a href="user-list.php">User’s List</a></li>
            <li><a href="user-data.php">User’s All Data</a></li>
            <li><a href="support-closer-lists.php">Support Closer’s Lists</a></li>
            <li><a href="sub-admins.php">Sub Admins</a></li>
            <li><a href="school-pin.php">School Pin</a></li>
            <li><a href="support.php">Support</a></li>
            <li><a href="guidelines.php">Guidelines</a></li>
        </ul>
    </div>
</aside>
<!-- sidebar -->