<main>

  <section id="account_section">
    <%= render 'shared/sidebar' %>
    <div id="user_info" class="main_side">
      <div id="top_header">
        <h1>User Info</h1>
        <%= render 'shared/header-side' %>
      </div>
      <div class="row">
        <div class="col-6">
          <ul class="top_blk">
            <li>
              <div class="dropdown">
                <button class="filter text dropdown-toggle fs_5 fw_600" data-bs-toggle="dropdown">
                  <div class="img_blk">
                    <img src="assets/images/filter.svg" alt="">
                  </div>
                  filters
                </button>
                <%= render 'shared/drop_down' %>
              </div>
            </li>
            <li>
              <div class="form_blk">
                <div class="icon_blk">
                  <img src="assets/images/search.svg" alt="">
                </div>
                <input type="search" placeholder="Search" class="input">
              </div>
            </li>
            <li>
              <button type="button" class="filter">
                <div class="img_blk">
                  <img src="assets/images/csv-file-icon.svg" alt="">
                </div>
                Download CSV
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="table_blk">
        <table class="mt-5">
          <thead>
          <tr>
            <th style="width:18.9rem">
              Full Name
            </th>
            <th style="width: 25.4rem;">
              Email Address
            </th>
            <th style="width:19.8rem">
              Phone No
            </th>
            <th style="width:17.2rem">
              Real State Agent
            </th>
            <th style="width:21.1rem">
              Address
            </th>
            <th style="width: 20rem">
              Bio
            </th>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="fw_500 user_name ">Davis Vaccaro</td>
            <td>davisvaccaro@gmail.com</td>
            <td>(505) 555-0125</td>
            <td>Yes</td>
            <td class="address">31901 Thornridge Cir. Shiloh, Hawaii 81063</td>
            <td class="bio">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
              sint. Velit officia consequat duis enim velit mollit. Exercitation venia</td>
          </tr>
          <tr>
            <td class="fw_500 user_name ">Kianna Aminoff</td>
            <td>kiannaaminoff@gmail.com</td>
            <td>(505) 555-0125</td>
            <td>No</td>
            <td class="address">31901 Thornridge Cir. Shiloh, Hawaii 81063</td>
            <td class="bio">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
              sint. Velit officia consequat duis enim velit mollit. Exercitation venia</td>

          </tr>
          <tr>
            <td class="fw_500 user_name">Ahmad Calzoni</td>
            <td>davisvaccaro@gmail.com</td>
            <td>(505) 555-0125</td>
            <td>Yes</td>
            <td class="address">31901 Thornridge Cir. Shiloh,
              Hawaii 81063</td>
            <td class="bio">Amet minim mollit non deserunt
              ullamco est sit aliqua dolor do amet sint. Velit
              officia consequat duis enim velit mollit.
              Exercitation venia</td>

          </tr>
          <tr>
            <td class="fw_500 user_name">Brandon Arcand</td>
            <td>davisvaccaro@gmail.com</td>
            <td>(505) 555-0125</td>
            <td>Yes</td>
            <td class="address">31901 Thornridge Cir. Shiloh,
              Hawaii 81063</td>
            <td class="bio">Amet minim mollit non deserunt
              ullamco est sit aliqua dolor do amet sint. Velit
              officia consequat duis enim velit mollit.
              Exercitation venia</td>

          </tr>
          <tr>
            <td class="fw_500 user_name">Leo Gouse</td>
            <td>davisvaccaro@gmail.com</td>
            <td>(505) 555-0125</td>
            <td>Yes</td>
            <td class="address">31901 Thornridge Cir. Shiloh,
              Hawaii 81063</td>
            <td class="bio">Amet minim mollit non deserunt
              ullamco est sit aliqua dolor do amet sint. Velit
              officia consequat duis enim velit mollit.
              Exercitation venia</td>

          </tr>
          <tr>
            <td class="fw_500 user_name">Kaylynn Baptista</td>
            <td>davisvaccaro@gmail.com</td>
            <td>(505) 555-0125</td>
            <td>Yes</td>
            <td class="address">31901 Thornridge Cir. Shiloh,
              Hawaii 81063</td>
            <td class="bio">Amet minim mollit non deserunt
              ullamco est sit aliqua dolor do amet sint. Velit
              officia consequat duis enim velit mollit.
              Exercitation venia</td>

          </tr>
          <tr>
            <td class="fw_500 user_name ">Allison Herwitz</td>
            <td>davisvaccaro@gmail.com</td>
            <td>(505) 555-0125</td>
            <td>No</td>
            <td class="address">31901 Thornridge Cir. Shiloh, Hawaii 81063</td>
            <td class="bio">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
              sint. Velit officia consequat duis enim velit mollit. Exercitation venia</td>
          </tr>
          </tbody>
        </table>
      </div>
<!--      <?php require_once 'includes/pagination.php'; ?>-->
    </div>
  </section>
  <!-- dash -->


</main>