<main>


  <section id="account_section">
      <%= render 'shared/sidebar' %>
    <div id="dash" class="main_side">
      <div id="top_header">
        <h1>Dashboard</h1>
        <%= render 'shared/header-side' %>
      </div>
      <div class="row flex_row dash_row">
        <div class="col-sm-4">
          <div class="dash_blk">
            <div class="icon"><img src="/assets/vector-arrow-down.svg" alt=""></div>
            <div class="txt">
              <div class="num">12.5k</div>
              <p>No. of downloads</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="dash_blk">
            <div class="icon"><img src="/assets/vector-user.svg" alt=""></div>
            <div class="txt">
              <div class="num">10.2k</div>
              <p>No. of active users</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="dash_blk">
            <div class="icon"><img src="/assets/vector-user.svg" alt=""></div>
            <div class="txt">
              <div class="num">10.2k</div>
              <p>No. of support closers</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="dash_blk">
            <div class="icon"><img src="/assets/vector-home.svg" alt=""></div>
            <div class="txt">
              <div class="num">5.34k</div>
              <p>No. of Houses for Sale</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="dash_blk">
            <div class="icon"><img src="/assets/vector-building.svg" alt=""></div>
            <div class="txt">
              <div class="num">3.2k</div>
              <p>No. of Condos for Sale</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="dash_blk">
            <div class="icon"><img src="/assets/vector-plants.svg" alt=""></div>
            <div class="txt">
              <div class="num">2.15k</div>
              <p>No. of Vacant Lands for Sale</p>
            </div>
          </div>
        </div>
      </div>
      <div class="table_head">
        <h3>New Users</h3>

        <div class="right_blk">
          <button type="button" class="csv_btn me-3">
            <div class="img_blk">
              <img src="/assets/csv-file-icon.svg" alt="">
            </div>
            Download CSV
          </button>

          <div class="form_blk mb-0 me-3">
            <div class="calender_blk">
              <img src="/assets/calendar.svg" alt="">
            </div>
            <input type="text" placeholder="From">
          </div>

          <div class="form_blk">
            <div class="calender_blk">
              <img src="/assets/calendar.svg" alt="">
            </div>
            <input type="text" placeholder="To">
          </div>
        </div>
      </div>
      <div class="table_blk mt-5 pt-3">
        <table>
          <thead>
          <tr>
            <th style="width:12.2rem">
              Select all
            </th>
            <th style="width: 19rem;">
              Name/Email
            </th>
            <th style="width:12.2rem">
              Phone No.
            </th>
            <th style="width:17.2rem">
              Real State Agent
            </th>
            <th style="width:28.3rem">
              Address
            </th>
            <th style="width: 14rem">
              Join Date
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div class="img_blk">
                <img src="/assets/profilePic.svg" alt="">
              </div>
            </td>
            <td class=" user_name">
              <p class="fw_500 mb-0">
                Davis Vaccaro
              </p>
              <p class="fw_400" style="color: #626262" style="color: #626262">
                davisvaccaro@gmail.com
              </p>
            </td>
            <td>+123 456 789</td>
            <td>Yes</td>
            <td>31901 Thornridge Cir, Hawaii 81063</td>
            <td>03/12/2022</td>
          </tr>
          <tr>
            <td>
              <div class="img_blk">
                <img src="/assets/profilePic.svg" alt="">
              </div>
            </td>
            <td class=" user_name">
              <p class="fw_500 mb-0">
                Davis Vaccaro
              </p>
              <p class="fw_400" style="color: #626262">
                davisvaccaro@gmail.com
              </p>
            </td>
            <td>+123 456 789</td>
            <td>Yes</td>
            <td>31901 Thornridge Cir, Hawaii 81063</td>
            <td>03/12/2022</td>
          </tr>
          <tr>
            <td>
              <div class="img_blk">
                <img src="/assets/profilePic.svg" alt="">
              </div>
            </td>
            <td class=" user_name">
              <p class="fw_500 mb-0">
                Davis Vaccaro
              </p>
              <p class="fw_400" style="color: #626262">
                davisvaccaro@gmail.com
              </p>
            </td>
            <td>+123 456 789</td>
            <td>Yes</td>
            <td>31901 Thornridge Cir, Hawaii 81063</td>
            <td>03/12/2022</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <!-- dash -->


</main>