<main>
  <section id="account_section">
    <%= render 'shared/sidebar' %>
    <div id="notify" class="main_side">
      <div id="top_header">
        <h1>Notifications</h1>
      </div>
      <ul class="list">
        <li>
          <div class="notif_blk">
            <div class="detail_blk">
              <div class="img">
                <img src="assets/images/icon-notifi.svg" alt="">
              </div>
              <div class="text">
                <h6 class="mb-0">New NFT Listed</h6>
                <p>Check new NFT In your list</p>
              </div>
            </div>
            <p class="time">2 days ago</p>
          </div>
        </li>
        <li>
          <div class="notif_blk">
            <div class="detail_blk">
              <div class="img">
                <img src="assets/images/icon-notifi.svg" alt="">
              </div>
              <div class="text">
                <h6 class="mb-0">New NFT Listed</h6>
                <p>Check new NFT In your list</p>
              </div>
            </div>
            <p class="time">2 days ago</p>
          </div>
        </li>
        <li>
          <div class="notif_blk">
            <div class="detail_blk">
              <div class="img">
                <img src="assets/images/icon-notifi.svg" alt="">
              </div>
              <div class="text">
                <h6 class="mb-0">New NFT Listed</h6>
                <p>Check new NFT In your list</p>
              </div>
            </div>
            <p class="time">2 days ago</p>
          </div>
        </li>
        <li>
          <div class="notif_blk">
            <div class="detail_blk">
              <div class="img">
                <img src="assets/images/icon-notifi.svg" alt="">
              </div>
              <div class="text">
                <h6 class="mb-0">New NFT Listed</h6>
                <p>Check new NFT In your list</p>
              </div>
            </div>
            <p class="time">2 days ago</p>
          </div>
        </li>
        <li>
          <div class="notif_blk">
            <div class="detail_blk">
              <div class="img">
                <img src="assets/images/icon-notifi.svg" alt="">
              </div>
              <div class="text">
                <h6 class="mb-0">New NFT Listed</h6>
                <p>Check new NFT In your list</p>
              </div>
            </div>
            <p class="time">2 days ago</p>
          </div>
        </li>
        <li>
          <div class="notif_blk">
            <div class="detail_blk">
              <div class="img">
                <img src="assets/images/icon-notifi.svg" alt="">
              </div>
              <div class="text">
                <h6 class="mb-0">New NFT Listed</h6>
                <p>Check new NFT In your list</p>
              </div>
            </div>
            <p class="time">2 days ago</p>
          </div>
        </li>
        <li>
          <div class="notif_blk">
            <div class="detail_blk">
              <div class="img">
                <img src="assets/images/icon-notifi.svg" alt="">
              </div>
              <div class="text">
                <h6 class="mb-0">New NFT Listed</h6>
                <p>Check new NFT In your list</p>
              </div>
            </div>
            <p class="time">2 days ago</p>
          </div>
        </li>
        <li>
          <div class="notif_blk">
            <div class="detail_blk">
              <div class="img">
                <img src="assets/images/icon-notifi.svg" alt="">
              </div>
              <div class="text">
                <h6 class="mb-0">New NFT Listed</h6>
                <p>Check new NFT In your list</p>
              </div>
            </div>
            <p class="time">2 days ago</p>
          </div>
        </li>
        <li>
          <div class="notif_blk">
            <div class="detail_blk">
              <div class="img">
                <img src="assets/images/icon-notifi.svg" alt="">
              </div>
              <div class="text">
                <h6 class="mb-0">New NFT Listed</h6>
                <p>Check new NFT In your list</p>
              </div>
            </div>
            <p class="time">2 days ago</p>
          </div>
        </li>
        <li>
          <div class="notif_blk">
            <div class="detail_blk">
              <div class="img">
                <img src="assets/images/icon-notifi.svg" alt="">
              </div>
              <div class="text">
                <h6 class="mb-0">New NFT Listed</h6>
                <p>Check new NFT In your list</p>
              </div>
            </div>
            <p class="time">2 days ago</p>
          </div>
        </li>
        <li>
          <div class="notif_blk">
            <div class="detail_blk">
              <div class="img">
                <img src="assets/images/icon-notifi.svg" alt="">
              </div>
              <div class="text">
                <h6 class="mb-0">New NFT Listed</h6>
                <p>Check new NFT In your list</p>
              </div>
            </div>
            <p class="time">2 days ago</p>
          </div>
        </li>
        <li>
          <div class="notif_blk">
            <div class="detail_blk">
              <div class="img">
                <img src="assets/images/icon-notifi.svg" alt="">
              </div>
              <div class="text">
                <h6 class="mb-0">New NFT Listed</h6>
                <p>Check new NFT In your list</p>
              </div>
            </div>
            <p class="time">2 days ago</p>
          </div>
        </li>
        <li>
          <div class="notif_blk">
            <div class="detail_blk">
              <div class="img">
                <img src="assets/images/icon-notifi.svg" alt="">
              </div>
              <div class="text">
                <h6 class="mb-0">New NFT Listed</h6>
                <p>Check new NFT In your list</p>
              </div>
            </div>
            <p class="time">2 days ago</p>
          </div>
        </li>
        <li>
          <div class="notif_blk">
            <div class="detail_blk">
              <div class="img">
                <img src="assets/images/icon-notifi.svg" alt="">
              </div>
              <div class="text">
                <h6 class="mb-0">New NFT Listed</h6>
                <p>Check new NFT In your list</p>
              </div>
            </div>
            <p class="time">2 days ago</p>
          </div>
        </li>
        <li>
          <div class="notif_blk">
            <div class="detail_blk">
              <div class="img">
                <img src="assets/images/icon-notifi.svg" alt="">
              </div>
              <div class="text">
                <h6 class="mb-0">New NFT Listed</h6>
                <p>Check new NFT In your list</p>
              </div>
            </div>
            <p class="time">2 days ago</p>
          </div>
        </li>
        <li>
          <div class="notif_blk">
            <div class="detail_blk">
              <div class="img">
                <img src="assets/images/icon-notifi.svg" alt="">
              </div>
              <div class="text">
                <h6 class="mb-0">New NFT Listed</h6>
                <p>Check new NFT In your list</p>
              </div>
            </div>
            <p class="time">2 days ago</p>
          </div>
        </li>
        <li>
          <div class="notif_blk">
            <div class="detail_blk">
              <div class="img">
                <img src="assets/images/icon-notifi.svg" alt="">
              </div>
              <div class="text">
                <h6 class="mb-0">New NFT Listed</h6>
                <p>Check new NFT In your list</p>
              </div>
            </div>
            <p class="time">2 days ago</p>
          </div>
        </li>
        <li>
          <div class="notif_blk">
            <div class="detail_blk">
              <div class="img">
                <img src="assets/images/icon-notifi.svg" alt="">
              </div>
              <div class="text">
                <h6 class="mb-0">New NFT Listed</h6>
                <p>Check new NFT In your list</p>
              </div>
            </div>
            <p class="time">2 days ago</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <%= render 'shared/footer' %>
</main>