<section id="account_section">
  <%= render "shared/sidebar" %>
  <div id="support" class="main_side">
    <div id="top_header">
      <h1>Support</h1>
      <%= render "shared/header-side" %>
    </div>
    <div class="row">
      <div class="col-4" style="width: 32rem;">
        <ul class="tabs nav scrollbar">
          <li>
            <a href="#end_users" data-bs-toggle="tab" class="active">
              End Users
            </a>
          </li>
          <li>
            <a href="#support_closers" data-bs-toggle="tab">
              Support Closers
            </a>
          </li>
        </ul>
        <div id="end_users" class="tab-pane fade show  ">
          <ul class="chats active">
            <li>
              <div class="chat_blk">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name">
                    <p>Alena Rhiel Madsen</p>
                    <span>Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p>21:36</p>
                  <div class="message_count">3</div>
                  <div class="online"></div>
                </div>
              </div>
            </li>
            <li>
              <div class="chat_blk active-bg">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name ">
                    <p class="active_color">Alena Rhiel Madsen</p>
                    <span class="active_color">Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p class="active_color">17/06/2020</p>
                  <!-- <div class="message_count ">3</div> -->
                </div>
              </div>
            </li>
            <li>
              <div class="chat_blk">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name">
                    <p>Alena Rhiel Madsen</p>
                    <span>Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p>17/06/2020</p>
                  <!-- <div class="message_count">3</div> -->
                </div>
              </div>
            </li>
            <li>
              <div class="chat_blk">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name">
                    <p>Alena Rhiel Madsen</p>
                    <span>Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p>17/06/2020</p>
                  <!-- <div class="message_count">3</div> -->
                </div>
              </div>
            </li>
            <li>
              <div class="chat_blk">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name">
                    <p>Alena Rhiel Madsen</p>
                    <span>Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p>17/06/2020</p>
                  <!-- <div class="message_count">3</div> -->
                </div>
              </div>
            </li>
            <li>
              <div class="chat_blk">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name">
                    <p>Alena Rhiel Madsen</p>
                    <span>Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p>17/06/2020</p>
                  <!-- <div class="message_count">3</div> -->
                </div>
              </div>
            </li>
            <li>
              <div class="chat_blk">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name">
                    <p>Alena Rhiel Madsen</p>
                    <span>Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p>17/06/2020</p>
                  <!-- <div class="message_count">3</div> -->
                </div>
              </div>
            </li>
            <li>
              <div class="chat_blk">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name">
                    <p>Alena Rhiel Madsen</p>
                    <span>Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p>17/06/2020</p>
                  <!-- <div class="message_count">3</div> -->
                </div>
              </div>
            </li>
            <li>
              <div class="chat_blk">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name">
                    <p>Alena Rhiel Madsen</p>
                    <span>Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p>17/06/2020</p>
                  <!-- <div class="message_count">3</div> -->
                </div>
              </div>
            </li>
            <li>
              <div class="chat_blk">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name">
                    <p>Alena Rhiel Madsen</p>
                    <span>Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p>21:36</p>
                  <!-- <div class="message_count">3</div> -->
                </div>
              </div>
            </li>
            <li>
              <div class="chat_blk">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name">
                    <p>Alena Rhiel Madsen</p>
                    <span>Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p>17/06/2020</p>
                  <!-- <div class="message_count">3</div> -->
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div id="support_closers" class="tab-pane fade ">
          <ul class=" chats">
            <li>
              <div class="chat_blk">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name">
                    <p>Alena Rhiel Madsen</p>
                    <span>Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p>21:36</p>
                  <div class="message_count">3</div>
                  <div class="online"></div>
                </div>
              </div>
            </li>
            <li>
              <div class="chat_blk active-bg">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name ">
                    <p class="active_color">Alena Rhiel Madsen</p>
                    <span class="active_color">Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p class="active_color">17/06/2020</p>
                  <!-- <div class="message_count ">3</div> -->
                </div>
              </div>
            </li>
            <li>
              <div class="chat_blk">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name">
                    <p>Alena Rhiel Madsen</p>
                    <span>Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p>17/06/2020</p>
                  <!-- <div class="message_count">3</div> -->
                </div>
              </div>
            </li>
            <li>
              <div class="chat_blk">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name">
                    <p>Alena Rhiel Madsen</p>
                    <span>Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p>17/06/2020</p>
                  <!-- <div class="message_count">3</div> -->
                </div>
              </div>
            </li>
            <li>
              <div class="chat_blk">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name">
                    <p>Alena Rhiel Madsen</p>
                    <span>Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p>17/06/2020</p>
                  <!-- <div class="message_count">3</div> -->
                </div>
              </div>
            </li>
            <li>
              <div class="chat_blk">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name">
                    <p>Alena Rhiel Madsen</p>
                    <span>Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p>17/06/2020</p>
                  <!-- <div class="message_count">3</div> -->
                </div>
              </div>
            </li>
            <li>
              <div class="chat_blk">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name">
                    <p>Alena Rhiel Madsen</p>
                    <span>Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p>17/06/2020</p>
                  <!-- <div class="message_count">3</div> -->
                </div>
              </div>
            </li>
            <li>
              <div class="chat_blk">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name">
                    <p>Alena Rhiel Madsen</p>
                    <span>Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p>17/06/2020</p>
                  <!-- <div class="message_count">3</div> -->
                </div>
              </div>
            </li>
            <li>
              <div class="chat_blk">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name">
                    <p>Alena Rhiel Madsen</p>
                    <span>Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p>17/06/2020</p>
                  <!-- <div class="message_count">3</div> -->
                </div>
              </div>
            </li>
            <li>
              <div class="chat_blk">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name">
                    <p>Alena Rhiel Madsen</p>
                    <span>Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p>21:36</p>
                  <!-- <div class="message_count">3</div> -->
                </div>
              </div>
            </li>
            <li>
              <div class="chat_blk">
                <div class="chat_blk_left">
                  <div class="profile_blk">
                    <img src="./assets/images/chatProfile.svg" alt="">
                  </div>
                  <div class="profile_name">
                    <p>Alena Rhiel Madsen</p>
                    <span>Where is my refund?</span>
                  </div>
                </div>
                <div class="time">
                  <p>17/06/2020</p>
                  <!-- <div class="message_count">3</div> -->
                </div>
              </div>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-8">
        <div class="chat_sec">
          <div class="top_blk">
            <div class="tag">
              J9F4J98JH9JJ
            </div>
            <div class="dropdown">
              <button class="select dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Mark as
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </div>
          <div class="mt-5 d-flex chat_date">
                                <span>
                                    16 August 2021
                                </span>
          </div>
          <div class="chat_msg">
            <div class="support_msg">
              <div class="d-flex flex-column">
                <div class="msg">
                  <p>Lorem Ipsum is simply dummy text of the printing.</p>
                </div>
                <p class="msg_time mt-2"> 3 m ago</p>
              </div>

              <div class="profile_pic">
                <div class="img_blk">
                  <img src="./assets/images/logosmall.svg" alt="">
                </div>
              </div>
            </div>
            <div class="user_msg">
              <div class="profile_pic">
                <div class="img_blk">
                  <img src="./assets/images/chatProfile.svg" alt="">
                </div>
              </div>
              <div class="d-flex flex-column">
                <div class="msg">
                  <p>Lorem Ipsum is simply dummy text of the printing.</p>
                </div>
                <p class="msg_time mt-2"> 3 m ago</p>
              </div>

            </div>

            <div class="support_msg">
              <div class="d-flex flex-column">
                <div class="msg">
                  <p>Lorem Ipsum is simply dummy text of the printing.</p>
                </div>
                <p class="msg_time mt-2"> 3 m ago</p>
              </div>

              <div class="profile_pic">
                <div class="img_blk">
                  <img src="./assets/images/logosmall.svg" alt="">
                </div>
              </div>
            </div>
            <div class="user_msg">
              <div class="profile_pic">
                <div class="img_blk">
                  <img src="./assets/images/chatProfile.svg" alt="">
                </div>
              </div>
              <div class="d-flex flex-column">
                <div class="msg">
                  <p>Lorem Ipsum is simply dummy text of the printing.</p>
                </div>
                <p class="msg_time mt-2"> 3 m ago</p>
              </div>

            </div>
          </div>

        </div>
        <hr>
        <div class="msg_blk">
          <div class="msg_type">
            <div class="icon_blk">
              <img src="./assets/images/attactFile.svg" alt="">
            </div>
            <div class="icon_blk">
              <img src="./assets/images/emoji.svg" alt="">
            </div>
            <div class="icon_blk">
              <img src="./assets/images/addphoto.svg" alt="">
            </div>
            <div class="form_blk w-100">
              <input type="text" class="input" placeholder="Write your message here">
            </div>
          </div>
          <button type="button">
            <img src="./assets/images/sendMessage.svg" alt="">
          </button>
        </div>
      </div>
    </div>
  </div>
</section>