#notify .list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#notify .list li {
  margin-bottom: 1rem;
}
#notify .list li .notif_blk {
  background-color: #4cbbff;
  border-radius: 1rem;
  padding: 1.5rem 3rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#notify .list li .notif_blk .detail_blk {
  display: flex;
  align-items: center;
}
#notify .list li .notif_blk .detail_blk .img {
  width: 5rem;
  min-width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 2rem;
}
#notify .list li .notif_blk .detail_blk .img > img {
  object-fit: contain;
}
#notify .list li .notif_blk .time {
  align-self: flex-start;
}